extends layout

block content
  h1 All sources ever since: #{sources.length}
  each source in sources
    strong #{source.name}
    p #{source.description}
    p #{source.url}
    p #{source.category}
    p #{source.language} | #{source.country}
    p Num of articles: #{source.articles.length}
    p Articles: #{source.articles}
